*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    font-size: 9rem;
    cursor: pointer;
    user-select: none;
}

.angry{
    display: none;
}

.happy{
    display: none;
}

.active{
    display: block;
}